
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AI-Search</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">

    $(document).ready(function(){
        $("#btn").click(function () {
            var ques = $("#txt").val()
            this.disabled = true
            $.ajax({
                url:"/message",
                type:'POST',
                headers: {"Content-Type": "application/json;charset=utf-8"},

                contentType:'application/json; charset=utf-8',
                data: JSON.stringify({"question": ques}),
                dataType:"json",//后端返回格式
                success:function(data){
                    $("#result").empty()
                    $("#result").append(data['text'])
                    $("#btn").attr("disabled",false)
                    },
                error:function(e){
                    alert('error!')
                    }
            });
                }
					   );
    });

    </script>

</head>
<body>
    <div class="container">
        <h2 class="head">Every Coin Helps</h2>

        <div>
           <br><input id="txt" type="text" name="ques" class="form-control" placeholder="执行<help>查看大部分指令信息！" /><br>
            <p>
            <button id="btn" type="button" class="btn btn-info btn-lg" style="text-shadow: black 5px 3px 3px;">
              <span class="glyphicon glyphicon-search"></span> Search</button>
           </p>
         </div>

        <div>
            <p>###搜索结果展示区###</p>
            <pre id="result">小妹现在有空哦，快去提个问吧，亲^_^</pre>
        </div>
    </div>
</body>
</html>